.main {
  background: url(../img/main-bg.png) no-repeat center top/100% auto;
}

.main .link {
  display: block;
  width: 1300px;
  height: 440px;
  text-indent: -9999px;
  margin: 8px auto 12px;
}

.main .section-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.main .section-content .left-content {
  width: 872px;
}

.main .section-content .right-content {
  width: 295px;
}